#footer {
    text-align: center;
    font-size: 75%;
}

.nifi-txt, .ni, .fi {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: larger;
}


.navbar {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 10%, #7299ac 25%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(10%,#ffffff), color-stop(25%,#7299ac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 10%,#7299ac 25%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 10%,#7299ac 25%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 10%,#7299ac 25%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 10%,#7299ac 25%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#7299ac',GradientType=1 ); /* IE6-9 */

}

.navbar-main {
    color: #0F3541;
}
a, a:link, a:hover, a:active {
    font-family: 'Oswald', sans-serif;

    color: #0F3541;
    font-weight: 400;
    font-size: larger;
}
.navbar-brand {
    padding: 0 0 0 0;
}

.navbar-brand img {
    height: 135%;
}

.flow-img-div {
    margin-left: auto;
    margin-right: auto;
}
.flow-img {
    display:block;
    margin:auto;
    width: 40%;
}

.jumbotron {
    background-color: #ffffff;
}

.highlight-complement {
    -moz-box-shadow: 0 0 25px #0F3541;
    -webkit-box-shadow: 0 0 25px #0F3541;
    box-shadow: 0px 0px 25px #0F3541;
}

h2 {
    background-color: #D9E4E8   ;
}

#features li {
    font-size: large;
}

.ni {
color: #7A96A4
}

.fi {
    color: #0F3541;
}